/********************************************************* Start gogle fonts links***********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

/********************************************************* End gogle fonts links***********************************************************/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url(../images/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/********************************************************* Start loading ***********************************************************/
.loading {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    display: flex;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

/********************************************************* Start nav  Style***********************************************************/

h3 a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat" !important;
}
.navbar-brand img {
    width: 10rem;
}
.navbar {
    display: none;
}
.navbar-brand {
    color: brown !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding-left: 10px !important;
}
.navbar-brand::before {
    content: '';
    border-left: 3px solid brown;
    border-radius: 10px;
    margin-right: 10px;
}
.socialMe .svg-inline--fa {
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
    transition: all 0.5s linear;
    margin-left: 4px;
    margin-top: 28px;
}

.socialMe {
    cursor: pointer;
}

.socialMe .fab1:hover {
    color: #1877f2 !important;
}

.socialMe .fab3:hover {
    color: #0a66c2 !important;
}

.socialMe .fab5:hover {
    color: #3232243b !important;
}

/********************************************************* End nav  Style***********************************************************/
/********************************************************* Start DigClock  Style***********************************************************/
.welcome {
    font-size: 50px;
    font-family: 'Rubik Microbe', cursive;
    letter-spacing: 10px;
}

.timeItem {
    width: 70px;
    height: 70px;
    background-color: rgba(35, 35, 2, 0.774);
    border-radius: 25px;
    margin-left: 20px;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    border: 3px solid #ffd136;
    color: #fff;
    font-family: 'Rubik Microbe', cursive;
}

#today {
    font-family: 'Lalezar', cursive;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 500 !important;
    color: burlywood !important;
}

.opra {
    font-size: 70px;
    margin-top: -19px;
    margin-left: 15px;
    color: #fff;
}

.caption {
    margin-top: 200px;}

/********************************************************* Start DigClock Style ***********************************************************/

/********************************************************* Start media  screen****************************************************/

@media only screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 40px !important;
    }

   
    .socialMe .svg-inline--fa {
        color: rgb(255, 255, 255) !important;
        font-size: 20px;
        transition: all 0.5s linear;
        margin-left: 8px;
        margin-top: 28px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 40px !important;
    }
    .caption {
        margin-top: 210px;
    }
  
}

@media only screen and (max-width: 360px) {
    .navbar-brand {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 688px) {
    .navbar-brand {
        font-size: 40px !important;
    }
}

/********************************************************* End media  screen****************************************************/